<footer class="bh-absolute-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col- md-6 col-lg-4">
                 <p  class="text-footer">
                Robin Janssens</p>
                <p class="text-footer-2">
                © 2108 | All rights reserved
                </p>
            </div>
                    
            <div class="col-12 col- md-6 col-lg-4 d-flex justify-content-center">
               
                <a href="mailto:robin@robinjanssens.be">
                <button class="worktogether btn btn-lg">Work together?</button>
                </a>    
            </div>
                
            <div class="col-12 col- md-6 col-lg-4">
            </div>
        </div>
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>